p {
    color: black;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 30px;
    border: 3px solid #ccc;
    background: #ffffff;
    position: relative;
    z-index: 1;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
    margin-left: -400%;
}
#slide6:checked ~ #slides .inner {
    margin-left: -500%;
}


#slides .inner {
    transition: margin-left 0ms cubic-bezier(1, 1, 1, 1);
    width: 600%;
    line-height: 0;
    height: 400px;
}
#slides .slide {
    width: 16.665%;
    float: left;
    display: block;
    height: 100%;
    color: #fff;
}

#slides .slide_1 {
    background: #123456;
}
#slides .slide_2 {
    background: #1A2B3C;
}
#slides .slide_3 {
    background: #4D5E6F;
}
#slides .slide_4 {
    background: #03F193;
}
#slides .slide_5 {
    background: #f103aa;
}
#slides .slide_6 {
    background: #6ef103;
}


.slide-content {
    padding: 10px;
    max-height: 400px;
    object-fit: contain;
}


.slide-content img {
    height: 200;
}

.slide-content h2 ~ p{
    color: red;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    position: relative;
    cursor: crosshair;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

/* Right click/arrow */
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(6),
#slide6:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: -80px -50px 0 0;
   display: block;
   cursor: crosshair;
}

/* Left click/arrow */
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(6),
#slide3:checked ~ #controls label:nth-last-child(5),
#slide4:checked ~ #controls label:nth-last-child(4),
#slide5:checked ~ #controls label:nth-last-child(3),
#slide6:checked ~ #controls label:nth-last-child(2) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: -80px 0 0 -50px;
   display: block;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }

 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4),
 #slide4:checked ~ #bullets label:nth-child(5),
 #slide6:checked ~ #bullets label:nth-child(6) {
    background: #444;
 }

@media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(5),
    #slide5:checked ~ #controls label:nth-child(6),
    #slide6:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(5),
    #slide5:checked ~ #controls label:nth-last-child(6),
    #slide6:checked ~ #controls label:nth-last-child(1)  {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }