body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

div .left-alignment {
    margin-left: 0;
    padding: 5px;
}

.navbar {
    width: 10%;
    height: 100vh;
    position: fixed;
    background-color: aqua;
}

@media (max-width: 600px) {
    .navbar {
        width: 50%;
        height: 100vh;
        position: fixed;
        background-color: aqua;
    }
}


