body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app h1{
    font-style: italic;
}

.board {
    box-sizing: border-box;
    width: 30.5rem;
    height: 30.5rem;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
}

/* Adding hover to make it look fancy
Also helps us know which square we're onto top of */
.square:hover {
    background: lightblue;
    cursor: pointer;
}